<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{TelaLogin.css}">

    <title>Login</title>
</head>
<body>

<form action="/login" method="post">
    <input type="email" name="login" placeholder="E-MAIL" required><br>
    <input type="password" name="password" placeholder="SENHA" required><br>
    <button type="submit">Entrar</button>
    <button type="submit">Cancelar</button>
</form>

</body>
</html>